/*---------Navigation----*/
#nav-bar
{
  position: sticky;
  top: 0;
  z-index :10;
}
.navbar-nav li
{
	padding:0 10px;

}
.navbar-nav li a
{
	float: right;
	text-align: left;

}
#nav-bar ul li a:hover{
	color: #007bff!important;
}
.navbar
 {
 	background: #fff;
 }
 .navbar-toggler
 {
 	border: none!important;
 }
 .nav-link
 {
 color: #555!important;
 font-weight: 600;
 font-size: 16px;
}
/*-----Slider--*/
#slider
{
	width: 100%;
}
.carousel-caption
{
	top: 50% ;
	transform: translate(-50%);
	bottom: initial !important;
}
#services
{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/promo.jpg);
	background-size: cover;
	background-position:center;
	color:#E6E6FA;
	background-attachment:fixed;
	text-align:center;
	padding: 100px;
	font-family:sans-serif;
	font-size:35px;
}
.services
{
	margin-top:40px;
}
.icon
{
	font-size:40px;
	margin:20px auto;
	padding:20px;
	border:1 px solid #fff;
	border radius:50%;
}
#services p
{
	font-size:14px;
	margin-top:20px;
	color:#ccc;
}
.services .col-md-3:hover
{
	background: #007bff;
	cursor:pointer;
	transition:0.7s;

}
.profile-pic
{
	margin-top:25px;

}
.profile-pic .img-box
{
opacity: 1;
display: block;
position: relative;
}
.profile-pic .img-box img:hover
{
	filter:grayscale(0);
	cursor:pointer;

}
.profile-pic h2
{
	font-size:22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;

}
.profile-pic h3
{
	font-size:15px;
	font-weight: bold;
	margin-top: 15px;
	color:8B0000;
}
.para p
{
	font-size:15 px;
	font-style: oblique;
	font-weight:bold;
    cursor:pointer;
}
#team p
{
	font-size:14px;
	margin-top:20px;
	color:#ccc;
}

.img-box ul, .img-box ul li
{
	transition:0.5s;

}

/*--------promo-----*/
#promo
{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/promo.jpg);
	background-size: cover;
	background-position:center;
	color:#E6E6FA;
	background-attachment:fixed;
	text-align:center;
	padding: 100px;
	font-family:sans-serif;
	font-size:35px;
}
 /*****Offers*****/
 #price
 {
 	padding: 40px 0;
 	background: #efefef;

 }
.single-price
{
	margin: 10px auto;
	display:inline;
	float: left;
	background-color:#fff;
	transition:0.5s;
}
.single-price:hover
{
	box-shadow:0 2px 20px #333;
}
.price-head
{
	background-color: #2196f3;
	display:inline;
	float:left;
	padding:10px 5px;
	text-align:center;
	width: 100%;
}
 .price-content 
{
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/food.jpg);
	background-size: cover;
	background-position:center;
	color:#E6E6FA;
	background-attachment:fixed;
	padding: 100px;
	text-align: left;
	font-size:20px;
}
.price-content ul
{
	display:inline;
	text-align:left;
	position:static;
}